<!DOCTYPE html>
<html lang="en">
<head>
    <base href="@Url.Content("~/")" />
    <meta charset="utf-8" />
    <title>BFA Group | ระบบตรวจสอบบัญชี</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Select2 Css -->
    <link href="~/assets/libs/select2/select2.min.css" rel="stylesheet" />
    <link href="~/assets/libs/select2/select2-bootstrap.min.css" rel="stylesheet" />
    <!-- DatetimePicker Css -->
    <link href="~/assets/libs/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <!-- Textbox Css-->
    <link href="~/assets/css/form.css" rel="stylesheet" />
    <!-- Font Css-->
    <link href="~/assets/css/font-face.css" rel="stylesheet" />
    <!-- Dropify Css-->
    <link href="~/assets/libs/dropify/dropify.min.css" rel="stylesheet" />
    <link href="~/assets/libs/jquery.toast/jquery.toast.min.css" rel="stylesheet" />
</head>
<body data-topbar="dark" data-layout="horizontal" ng-app="FOCUSAPP" ng-controller="SUPERADMINAPPController" data-ng-init="init()">
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
            <div class="navbar-header">
                <div class="container-fluid">
                    <div class="float-start">
                        <!-- LOGO -->
                        <div class="navbar-brand-box">
                            <a href="index.html" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="@Url.Content("~/")assets/images/logo-sm.png" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="@Url.Content("~/")assets/images/logo-dark.png" alt="" height="19">
                                </span>
                            </a>

                            <a href="index.html" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="@Url.Content("~/")assets/images/logo-sm.png" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="@Url.Content("~/")assets/images/logo-light.png" alt="" height="49">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-24 d-lg-none header-item waves-effect waves-light" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </div>

                    <div class="float-end profile">

                        <!-- App Search-->
                        <form class="app-search d-none d-lg-inline-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="fa fa-search"></span>
                            </div>
                        </form>

                        <!-- Full Screen-->
                        <div class="dropdown d-none d-lg-inline-block">
                            <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                                <i class="mdi mdi-fullscreen font-size-24"></i>
                            </button>
                        </div>

                        <!-- Notification-->
                        <div class="dropdown d-inline-block ms-1">
                            <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-bell"></i>
                                <span class="badge bg-danger rounded-pill">3</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                 aria-labelledby="page-header-notifications-dropdown">
                                <div class="p-3">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h5 class="m-0"> แจ้งเตือน (258) </h5>
                                        </div>
                                    </div>
                                </div>
                                <div data-simplebar style="max-height: 230px;">

                                    <a href="javascript:void(0);" class="text-reset notification-item">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar-xs">
                                                    <span class="avatar-title border-warning rounded-circle ">
                                                        <i class="mdi mdi-message"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="mb-1">แจ้งเตือนต่ออายุบริการ</h6>
                                                <div class="text-muted">
                                                    <p class="mb-1">บริการของท่านสิ้นสุดวันที่ 31/12/2565</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="javascript:void(0);" class="text-reset notification-item">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar-xs">
                                                    <span class="avatar-title border-warning rounded-circle ">
                                                        <i class="mdi mdi-message"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="mb-1">แจ้งเตือนต่ออายุบริการ</h6>
                                                <div class="text-muted">
                                                    <p class="mb-1">บริการของท่านสิ้นสุดวันที่ 31/12/2565</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0);" class="text-reset notification-item">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar-xs">
                                                    <span class="avatar-title border-warning rounded-circle ">
                                                        <i class="mdi mdi-message"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="mb-1">แจ้งเตือนต่ออายุบริการ</h6>
                                                <div class="text-muted">
                                                    <p class="mb-1">บริการของท่านสิ้นสุดวันที่ 31/12/2565</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="p-2 border-top">
                                    <a class="btn btn-sm btn-link font-size-14 w-100 text-center" href="javascript:void(0)">
                                        แจ้งเตือนทั้งหมด
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Profile-->
                        <div class="dropdown d-inline-block">
                            <div class="profile-arrow-down" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div>
                                    <i class="mdi mdi-chevron-down"></i>
                                </div>
                                <button type="button" class="btn header-item waves-effect btn-header" id="page-header-user-dropdown">
                                    <img class="rounded-circle header-profile-user" src="@Url.Content("~/")assets/images/icons/profile.png"
                                         alt="Header Avatar">
                                </button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <!-- item-->
                                    <a class="dropdown-item text-center"> {{UserProfiles.EmployeeData.FullName}}</a>
                                    <a class="dropdown-item"><i class="mdi mdi-head-outline font-size-17 text-muted align-middle me-1"></i>{{UserProfiles.PermissionNameActive}}</a>
                                    <div class="dropdown-divider-80"></div>
                                    <a class="dropdown-item  cursor-pointer" ui-sref="admin-profiles"><i class="mdi mdi-account-circle font-size-17 text-muted align-middle me-1"></i> ข้อมูลส่วนตัว</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger cursor-pointer" ng-click="OnClickLogout()"><i class="mdi mdi-power font-size-17 text-muted align-middle me-1 text-danger"></i> ออกจากระบบ</a>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
            <div class="top-navigation">
                <div class="container-fluid">
                    <div class="topnav">
                        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                            <div class="collapse navbar-collapse" id="topnav-menu-content">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="mdi mdi-equalizer"></i>หน้าหลัก
                                        </a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none"  id="topnav-email" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="mdi mdi-account-supervisor-circle"></i>สมาชิก
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="topnav-email">
                                            <a class="dropdown-item" asp-controller="SuperAdmin" asp-action="MemberList">ภาพรวมทั้งหมด</a>
                                            <a class="dropdown-item" asp-controller="SuperAdmin" asp-action="MemberAdd">เพิ่มข้อมูล</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none"  id="topnav-components" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="mdi mdi-home-city-outline"></i>กิจการ
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="topnav-email">
                                            <a class="dropdown-item" asp-controller="SuperAdmin" asp-action="OrganizationList">ภาพรวมทั้งหมด</a>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none"  id="topnav-forms" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="mdi mdi-currency-usd"></i>ชำระเงิน
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="topnav-forms">
                                            <a class="dropdown-item" asp-controller="SuperAdmin" asp-action="PaymentList">ภาพรวมทั้งหมด</a>
                                            <a class="dropdown-item" asp-controller="SuperAdmin" asp-action="VerifyList">ตรวจสอบการชำระเงิน</a>
                                            <a class="dropdown-item" asp-controller="SuperAdmin" asp-action="HistoryPaymentList">ประวัติการชำระเงิน</a>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none"  id="topnav-forms" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="mdi mdi-package-variant"></i>บริการ
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="topnav-forms">
                                            <a class="dropdown-item" asp-controller="SuperAdmin" asp-action="PackageList">ภาพรวมทั้งหมด</a>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" id="topnav-forms" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="mdi mdi-cog-outline"></i>พารามิเตอร์
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="topnav-forms">
                                            <a ui-sref="admin-fsgroup" ui-sref-active="active" class="dropdown-item">FS Group</a>
                                            <a ui-sref="admin-companydocument" ui-sref-active="active" class="dropdown-item">Company Document</a>
                                            <a ui-sref="admin-auditprogram" ui-sref-active="active" class="dropdown-item">Audit Program</a>
                                            <a asp-controller="Organizations" asp-action="CustomerAdd" class="dropdown-item">Audit Report</a>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" ui-sref="admin-requestform" ui-sref-active="active" id="topnav-more" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="mdi mdi-message-text"></i>คำขอข้อมูล
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-more">
                                            <a class="dropdown-item" ui-sref="admin-requestform" ui-sref-active="active">ภาพพรวมทั้งหมด</a>
                                            <a class="dropdown-item" ui-sref="admin-historyrequestform" ui-sref-active="active">ประวัติคำขอข้อมูล</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

        </header>


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content" ui-view="container-view">
                @RenderBody()
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            ©
                            <script>document.write(new Date().getFullYear())</script> BFA Group <span class="d-none d-sm-inline-block"> - Auditor Pragram Version 1.0.0 by IM-Soft Development.</span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/assets/libs/jquery.toast/jquery.toast.min.js"></script>
    <script src="~/assets/libs/underscore/underscore-min.js"></script>

    <!--Dropify -->
    <script src="~/assets/libs/dropify/dropify.min.js"></script>

    <!--Select 2-->
    <script src="~/assets/libs/select2/select2.min.js"></script>
    <script src="~/assets/libs/select2/select2.js"></script>

    <!--Morris Chart-->
    <script src="~/assets/libs/morris.js/morris.min.js"></script>
    <script src="~/assets/libs/raphael/raphael.min.js"></script>

    <script src="~/assets/js/pages/dashboard.init.js"></script>

    <script src="~/assets/libs/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/libs/bootstrap-datepicker/bootstrap-datepicker.th.min.js"></script>

    <!-- App js -->
    @*<script src="~/assets/js/app.js"></script>*@

    <!-- Component -->
    <script src="~/assets/libs/angularJS/angular.js"></script>
    <script src="~/assets/libs/angularJS/angular-ui-router.js"></script>
    <script src="~/assets/libs/angularJS/angular-animate.min.js?nochace=test"></script>
    <script src="~/assets/libs/angularJS/ocLazyLoad.min.js"></script>
    <script src="~/assets/libs/angularJS/ui-bootstrap-tpls.min.js"></script>
    <script src="~/assets/libs/angularJS/ng-file-upload.min.js"></script>
    <!-- Router -->
    <script src="~/controller/router/admin.router.js"></script>
    <script src="~/controller/router/owner.router.js"></script>
    <script src="~/controller/router/office.router.js"></script>

    <script src="~/controller/appmain.js"></script>
    <script src="~/controller/custom.js"></script>
    <script src="~/controller/factory.js"></script>
    <script src="~/assets/libs/jquery.toast/toastDemo.js"></script>


    @if (IsSectionDefined("RenderScriptWithPage"))
    {@RenderSection("RenderScriptWithPage", required: false)}
</body>

</html>
